body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 98vh;
}

.css-1x8ipzd-MuiPickersLayout-root .MuiPickersLayout-toolbar {
  margin: 20px 40px 0 40px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.06);
}

#root
  > div
  > div
  > div
  > div
  > div.MuiGrid-root.MuiGrid-item.css-13i4rnv-MuiGrid-root
  > form
  > div
  > div.MuiGrid-root.MuiGrid-item.css-13i4rnv-MuiGrid-root
  > div
  > div.MuiDialogActions-root.MuiDialogActions-spacing.MuiPickersLayout-actionBar.css-hlj6pa-MuiDialogActions-root {
  display: none;
}

#root
  > div
  > div
  > div
  > div
  > div.MuiGrid-root.MuiGrid-item.css-13i4rnv-MuiGrid-root
  > form
  > div
  > div.MuiGrid-root.MuiGrid-item.css-13i4rnv-MuiGrid-root
  > div
  > div.MuiPickersLayout-contentWrapper.css-16b5y55-MuiPickersLayout-contentWrapper
  > div
  > div.MuiClock-root.css-1j9v0by-MuiClock-root
  > div
  > div.MuiClock-squareMask.css-tfwo93-MuiClock-squareMask {
  max-width: 100px !important;
  margin: 0 !important;
}
